@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

//NOTE if the input TODO is checked: strike the label
input[type=checkbox]:checked {
  &.label.strikethrough{
    text-decoration: line-through;
  }
}

.action{
  cursor: pointer;
}

.question {
  &.hover{
    .answer{
      opacity: 1;
    }
  }
  .answer{
    opacity: 0;
    transition: all
  }
}

.clock-row{
  min-height: 42vh;
}

.shadower {
  text-shadow: 0px 1px black;
}

.task-box {
  background-color: rgba(55, 118, 236, 0.582);
}
.tasks {
  background-color: rgba(255, 255, 255, 0.589);}

  body.debug .container,
  body.debug .container-fluid {
    outline: 2px double blue;
    outline-offset: -2px;
  }

  body.debug .row {
    outline: 2px dashed red;
    outline-offset: -2px;
  }

  body.debug [class*="col-"] {
    outline: 2px dotted forestgreen;
    outline-offset: -3px;
  }




