@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

//NOTE if the input TODO is checked: strike the label
input[type=checkbox]:checked {
  &.label.strikethrough{
    text-decoration: line-through;
  }
}



